<br><br>
<div class="d-flex justify-content-center align-items-center">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="card m-3" style="width: 13rem; border-color: black; border-width: 2px;">
                <div class="card-body text-center">
                  <h5 class="card-title">Events</h5>
                  <div class="col" style="background-color:honeydew; padding: 50px; border-radius: 4px;">
                    <h2>{{ stats.eventCount }}</h2>
                  </div>
                </div>
            </div>
            <div class="card m-3" style="width: 13rem; border-color: black; border-width: 2px;">
                <div class="card-body">
                    <h5 class="card-title">Categories</h5>
                    <div class="col" style="background-color:lavender; padding: 50px; border-radius: 4px;">
                        <h2>{{ stats.categoryCount }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>