    <div class="container mt-3">
		<div class="mt-4 p-5 bg-dark text-white rounded text-center">
			<h1>Events Management Application (EMA)</h1>
			<p>Powered by MonashApps </p>
		</div>
		<br>
        <div class="nav-container">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/add-category">Add Category</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/list-category">Category List</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/update-category">Update Category</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/delete-category">Delete Category</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/speech-bot">Speech Bot</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/stats">Stats G1</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/stats-g2">Stats G2</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/translation-bot">Translation Bot</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/add-event">Add Event</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/list-events">Event List</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/delete-event">Delete Event</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/update-event">Update Event</a>
                </li>
            </ul>
        </div>
        
        <router-outlet></router-outlet>
        <br><br>
        <app-footer></app-footer>
        
	</div>
