<br><br>
<div class="d-flex justify-content-center align-items-center">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="card m-3" style="width: 13rem; border-color: black; border-width: 2px;">
                <div class="card-body">
                    <h5 class="card-title">Create</h5>
                    <div class="col" style="background-color:lavender; padding: 50px; border-radius: 4px;">
                        <h2>{{ stats.createdCount }}</h2>
                    </div>
                </div>
            </div>
            <div class="card m-3" style="width: 13rem; border-color: black; border-width: 2px;">
                <div class="card-body">
                    <h5 class="card-title">Delete</h5>
                    <div class="col" style="background-color:lavender; padding: 50px; border-radius: 4px;">
                        <h2>{{ stats.deletedCount }}</h2>
                    </div>
                </div>
            </div>
            <div class="card m-3" style="width: 13rem; border-color: black; border-width: 2px;">
                <div class="card-body">
                    <h5 class="card-title">Update</h5>
                    <div class="col" style="background-color:lavender; padding: 50px; border-radius: 4px;">
                        <h2>{{ stats.updateCount }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>