<br>
<div class="text-center">
  <h2> Update Category </h2>
  <p> Update selected category </p>
</div>

<div class="mt-4 p-5 bg-secondary rounded">
  <div class="card mb-3">
    <div class="card-body">
      <div *ngIf="selectedCategory.categoryId">
        <div class="mb-3 mt-3">
          <label for="name" class="form-label ">Name: </label>
          <input type="text" [(ngModel)]="selectedCategory.categoryName"
            class="form-control border border-3 border-secondary" id="name" placeholder="Enter Name" name="categoryName"
            required>
        </div>
        <div class="form-group">
          <label for="Description">Description:</label>
          <textarea [(ngModel)]="selectedCategory.categoryDescription"
            class="form-control border border-3 border-secondary" id="Description" rows="3"
            placeholder="Enter Description" name="categoryDescription" style="margin: 10px 0px 10px 0px"></textarea>
        </div>
        <div class="mb-3">
          <label for="Image" class="form-label">Image:</label>
          <input [(ngModel)]="selectedCategory.categoryImage" class="form-control border border-3 border-secondary"
            name="categoryImage" accept="image/png, image/jpeg, image/jpg">
        </div>
        <button type="submit" class="btn btn-success border border-3 border-secondary" (click)="submitChanges()">Submit
          Changes</button>
      </div>
    </div>
    <div class="card mb-3">
      <img src="/assets/Images/updatecategory.png" class="card-img-top" alt="...">
      <div class="card text-dark bg-light mb-3">
        <div class="card-body">
          <div class="row row-cols-1 g-3">
            <div class="col">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <!-- Table Header Row -->
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Events Count</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="records.length == 0">
                    <th scope="row" colspan="8" class="text-center text-bold">No records found</th>
                  </tr>

                  <tr *ngFor="let record of records">
                    <th scope="row">
                      {{record.categoryId}}
                    </th>
                    <td>
                      {{record.categoryName}}
                    </td>
                    <td style="width: 30%">
                      {{record.categoryDescription}}
                    </td>
                    <td>
                      <img [src]="record.categoryImage" alt="Category Image" width="100">
                    </td>
                    <td>
                      {{record.createdDate |transformTime}}
                    </td>
                    <td>
                      {{record.eventsList.length}}
                    </td>
                    <td>
                      <button class="btn btn-danger" (click)="updateCategory(record.categoryId)">Update</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
